## Ignore Visual Studio Temporary Files and Build Results
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo.backup
*.user.backup

## Ignore build output folder of dotnet
**/bin/
**/obj/

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
